.about-container{
  background-color: #FFDF6D;
  padding-top: 20vh;


  .about-header{
    text-align: center;
  }
  .about-content-container{
  display:flex;
  justify-content: center;
  padding-bottom: 20vh;


    .about-img-container{
      max-width: 25%;
      width: 30%;

      img{
        border-radius: 10%;
        width: 30%;
      }
    }

    .about-description{
      padding: 1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      max-width:25%;
      align-self: flex-start;
      p{
        font-size: 1.2rem;
        line-height: 2rem;
      }

      button{
        align-self: flex-end;
      }
    }
  }
}
