$header-color: #b8294b;
$about-background: #ffdf6d;
$header-color: #b8294b;
$pink: #f2ced8;
$grey: #8ea3a8;
$yellow: #f7bc60;
$purple: #e0d7f6;
$orange: #f29979;
$dark-grey: #454745;

.about-container {
  background-color: #e3e7e7;

  padding-top: 20vh;
  .about-header {
    text-align: center;
  }
  .about-content-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;

    .about-img-container {
      margin-right: 1rem;
      max-width: 25%;
      width: 30%;

      img {
        border-radius: 10%;
      }
    }

    .about-description {
      background-color: #fff;
      -webkit-box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
      box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
      padding: 1rem;
      margin: 1rem;
      max-width: 35%;
      align-self: flex-start;

      p {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .about-container {
    .about-content-container {
      flex-direction: column;
      align-items: center;

      .about-img-container {
        max-width: 50%;
        width: 50%;
      }
      .about-description {
        margin-left: 1rem;
        align-self: center;
        max-width: 50%;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .about-container {
    .about-content-container {
      .about-description {
        align-self: center;
        max-width: 80%;
        width: 80%;
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}
