.contact-container{
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-color: #376B7A;
  text-align:center;

  .icons-container{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .icon-container{
      display: flex;
      padding: 0 2rem 0 2rem;

    svg{
    font-size: 4rem;
  }
  p{

  }
  }
  }
}