$background-white: #e3eff0;
$header-color: #b8294b;
$pink: #bca4a6;
$grey: #8ea3a8;
$yellow: #f7bc60;
$purple: #e0d7f6;
$orange: #f29979;
$dark-grey: #454745;

.work-container {
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-color: rgba($color: $dark-grey, $alpha: 0.4);
  text-align: center;
  align-items: center;
  align-content: center;
  .each-work-container {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    .work-img-container {
      object-fit: cover;
      width: 40%;
      padding: 1rem;
      background-color: $background-white;
      -webkit-box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
      box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
    }
    .work-desc-container {
      border-radius: 20px 0 20px 0;
      padding: 1rem;
      position: relative;
      right: 10%;
      width: 30%;
      align-self: flex-end;
      -webkit-box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
      box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
      background-color: $background-white;

      a {
        font-size: 1.1rem;
        padding: 0.9rem;
        text-decoration: none;
        background-color: $pink;
        margin: 1.5rem;
        border-radius: 5px;
        color: white;
        font-weight: 200;

        i {
          font-size: 2rem;
          padding: 1rem;
        }
      }

      a:hover {
        color: $dark-grey;
        -webkit-box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
        box-shadow: 6px 5px 20px -5px rgba(133, 130, 133, 0.82);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .work-container {
    .each-work-container {
      flex-direction: column;

      .work-img-container {
        width: 70%;
      }
      .work-desc-container {
        border-radius: 0 0 20px 20px;
        align-self: center;
        width: 70%;
        right: auto;
        -webkit-box-shadow: 6px 20px 20px -5px rgba(133, 130, 133, 0.82);
        box-shadow: 6px 20px 20px -5px rgba(133, 130, 133, 0.82);
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      .work-link-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
