$background-white: #E3EFF0;

.work-container{
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-color: #92B76A;
  text-align:center;
  align-items: center;
  align-content: center;
  .each-work-container{
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    .work-img-container{
      object-fit: cover;
      // width: 70%;
      width: 40%;
      padding: 1rem;
      background-color: $background-white;
    }
    .work-desc-container{
      border-radius: 20px 0 20px 0;
      padding: 1rem;
      position: relative;
      right: 10%;
      width: 30%;   
      align-self: flex-end;
      font-family: sans-serif;

      background-color: $background-white;

    .work-title{


    }

    .work-techstack{

    }

    .work-description{

    }

    a{
      font-size: 1.2rem;
      padding: 1.2rem;
      i{
        font-size: 1.8rem;
      }
    }
  }

  }
}

@media screen and (max-width: 1024px){
  .work-container{

    .each-work-container{

      .work-img-container{

      }
      .work-desc-container{
      border-radius: 0 0 20px 20px;
        p{
          font-size: 1rem;
          line-height: 1.5rem;

        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .work-container{
    .each-work-container{
      flex-direction: column;

      .work-img-container{
        width: 70%;
      }
      .work-desc-container{
        align-self: center;
        width: 70%;
        right: auto;
        p{
          font-size: 1rem;
          line-height: 1.5rem;

        }
      }
    }
  }
}